doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
  body
    nav#navMenu
      ul#navMenuList
        li.navMenuItem
          a(href="/").navMenuItemLink
            h2 Home
        li.navMenuItem
          a(href="/action").navMenuItemLink
            h2 Call for Action
        li.navMenuItem
          a(href="/map").navMenuItemLink
            h2 Take Action
        li.navMenuItem
          a(href="/extension").navMenuItemLink
            h2 Media Bias
    block content
