body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#navMenu {
	height: 85px;
	width: 100%;
	margin: 0;
	background-color: #264653;
}
#navMenuList {
	padding: 0;
	margin: 0;
	display: table;
	padding-left: 2.5%;
	width: 87.5%;
}
.navMenuItem {
	padding: 13px 5% 0 0;
	display: table-cell;
	width: fit-content;
	float: left;
	list-style: none;
	width: fit-content;
	text-align: left;
}
.navMenuItem:hover .navMenuItemLink{
	/*color: #9A8C98;*/
	color: #e9c46a;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.navMenuItem:hover .navMenuItemLink i{
	/*color: #9A8C98;*/
	color: #e9c46a;
}
.navMenuItemLink {
	list-style: none;
	text-decoration: none;
	/*color: #4A4E69;*/
	color: white;
	padding-bottom: 3px;
}





/* STYLING FOR ACTION PAGE */
#actionDiv {
    width: 100%;
    text-align: center;
    padding-top: 20px;
	padding-bottom: 80px;
	background-color: #2a9d8f;
}
#actionTitle {
	color: white;
	width: 100%;
	text-align: center;
	padding-top: 20px;
}
#selectStateBox {
    border: none;
    color: #264653;
    padding: 3%;
    margin-bottom: 20px;
}
#selectTitleDiv {
    width: 40%;
    margin-left: 30%;
    background-color: #e9c46a;
    padding: 2px;
    text-align: center;
    border: 7px solid white;
    margin-bottom: -70px;
    position: relative;
    color: #264653;
    font-weight: bold;
}
#infoDiv {
    background-color: white;
    width: 70%;
    margin-left: 15%;
    margin-top: 0;
    padding-top: 90px;
	padding-bottom: 30px;
    text-align: center;
}
.infoTitle {
    color: #264653;
}
.infoResponse {
    color: #2a9d8f;
}