body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#navMenu {
	height: 85px;
	width: 100%;
	margin: 0;
	background-color: #264653;
}
#navMenuList {
	padding: 0;
	margin: 0;
	display: table;
	padding-left: 2.5%;
	width: 100%;
}
.navMenuItem {
	padding: 13px 5% 0 0;
	display: table-cell;
	width: fit-content;
	float: left;
	list-style: none;
	width: fit-content;
	text-align: left;
}
.navMenuItem:hover .navMenuItemLink{
	/*color: #9A8C98;*/
	color: #e9c46a;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.navMenuItem:hover .navMenuItemLink i{
	/*color: #9A8C98;*/
	color: #e9c46a;
}
.navMenuItemLink {
	list-style: none;
	text-decoration: none;
	/*color: #4A4E69;*/
	color: white;
	padding-bottom: 3px;
}

/* STYLING FOR MAP PAGE */
        #wrapper {
            background-color: #2a9d8f;
            height: 100%;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 100px;
            text-align: center;
        }
        #left {
            height: 100%;
            width: 100%;
            display: block;
        }
        #left h2 {
            padding-top: 10px;
            padding-bottom: 30px;
            color: white;
        }
        #right {
            height: 100%;
            width: 100%;
            display: block;
        }
        #right h2 {
            padding-top: 50px;
            padding-bottom: 20px;
            color: white;
        }
        #searchPolForm {
            width: 60%;
            padding: 20px;
            margin-left: 20%;
            background-color: #e9c46a;
            border: 5px solid white;
        }
        #searchPolForm input {
            width: 100%;
            padding-bottom: 10px;
            padding-top: 10px;
            margin: 0;
            margin-top: 5px;
            border: none;
        }
        .inputfield {
            margin-bottom: 30px;
            
        }
        .inputfield select {
            padding: 10px;
            margin-left: 30px;
            border: none;
        }
        #mapSubmit {
            border: none;
            background-color: white;
            color: #264653;
        }
        #mapSubmit:hover {
            background-color: #264653;
            color: white;
            cursor: pointer;
            
        }
        #eventList {
            width: 60%;
            padding: 20px;
            margin-left: 20%;
            background-color: white;
            border: 5px solid #e9c46a;
        }
        .eventItem {
            text-align: left;
            padding-left: 20px;
			padding-right: 20px;
			padding-top: 10px;
            padding-bottom: 30px;
            
        }
        .eventTitle {
            font-weight: bold;
            background-color: #e9c46a;
            width: 98%;
            padding: 1px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .eventDate {
            font-style: italic;
        }
        .eventDescription {
            
        }


/* STYLING FOR ACTION PAGE */
#actionDiv {
    width: 100%;
    text-align: center;
    padding-top: 20px;
	padding-bottom: 80px;
	background-color: #2a9d8f;
}
#actionTitle {
	color: white;
	width: 100%;
	text-align: center;
	padding-top: 20px;
}
#selectStateBox {
    border: none;
    color: #264653;
    padding: 3%;
    margin-bottom: 20px;
}
#selectTitleDiv {
    width: 40%;
    margin-left: 30%;
    background-color: #e9c46a;
    padding: 2px;
    text-align: center;
    border: 7px solid white;
    margin-bottom: -70px;
    position: relative;
    color: #264653;
    font-weight: bold;
}
#infoDiv {
    background-color: white;
    width: 70%;
    margin-left: 15%;
    margin-top: 0;
    padding-top: 90px;
	padding-bottom: 30px;
    text-align: center;
}
.infoTitle {
    color: #264653;
}
.infoResponse {
    color: #2a9d8f;
}
#submitStateChoice {
	padding: 3%;
	margin-left: 10px;
	border: 1px solid white;
	background-color: white;
	color: #264653;
	border-radius: 2px;
}
#submitStateChoice:hover {
	background-color: #264653;
	color: white;
	cursor: pointer;
	border: 1px solid #264653;
}
